<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Answers</h1>
    {% if all_answers %}
    <ul>
        {% for answer in all_answers %}
        <li>
            <table>
                <tr>
                    <th>respondent</th>
                    <td>
                        <ul>
                            <li>
                                {{answer.respondent.created_at}}
                            </li>
                            <li>
                                {{answer.respondent.name}}
                            </li>
                            <li>
                                {{answer.respondent.sex}}
                            </li>
                            <li>
                                {{answer.respondent.age}}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>sample_meta_data</th>
                    <td>
                        <ul>
                            <li>
                                {{answer.sample_meta_data.file_path.url}}
                            </li>
                            <li>
                                {{answer.sample_meta_data.file_name}}
                            </li>
                            <li>
                                {{answer.sample_meta_data.speaker_name}}
                            </li>
                            <li>
                                {{answer.sample_meta_data.model_name}}
                            </li>
                            <li>
                                {{answer.sample_meta_data.sample_name}}
                            </li>
                            <li>
                                {{answer.sample_meta_data.kind}}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>naturalness</th>
                    <td>{{answer.naturalness}}</td>
                </tr>
                <tr>
                    <th>intelligibility</th>
                    <td>{{answer.intelligibility}}</td>
                </tr>
            </table>
        </li>
        <hr>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>