<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'main_app:index' %}">Home</a></li>
            <li><a href="{% url 'main_app:signup' %}">Sign Up</a></li>
            <li><a href="{% url 'main_app:login' %}">Login</a></li>
            <li><a href="{% url 'main_app:user_page' %}">User Page</a></li>
            <li><a href="{% url 'main_app:check_respondents' %}">Check Respondents</a></li>
            <li><a href="{% url 'main_app:check_answers' %}">Check Answers</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>