{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Register Respondent{% endblock title %}ß

{% block content %}
<form method="post" action="{% url 'main_app:answer_respondent_info' user.pk %}">
    {% csrf_token %}
    <div class="mb-4">
        <label for="id_sex" class="form-label">{{ form.sex.label }}</label>
        {% render_field form.sex class+="form-select" %}
    </div>
    <div class="mb-4">
        <label for="id_age" class="form-label">{{ form.age.label }}</label>
        {% render_field form.age class+="form-control" %}
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">提出する</button>
    </div>
</form>
{% endblock content%}