<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registered Respondents</h1>
    {% if all_respondents %}
    <ul>
        {% for respondent in all_respondents %}
        <li>
            <table>
                <tr>
                    <th>created_at</th>
                    <td>{{respondent.created_at}}</td>
                </tr>
                <tr>
                    <th>name</th>
                    <td>{{respondent.name}}</td>
                </tr>
                <tr>
                    <th>sex</th>
                    <td>{{respondent.sex}}</td>
                </tr>
                <tr>
                    <th>age</th>
                    <td>{{respondent.age}}</td>
                </tr>
            </table>
        </li>
        <hr>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>