{% extends "base.html" %}

{% block title %}User Page{% endblock title %}

{% block content %}
<h1>User Page</h1>
<ul>
    <li>
        {{ user.username}}
    </li>
    <li>
        {{ user.email}}
    </li>
    <li>
        {{ user.password}}
    </li>
</ul>

<ul>
    <li>
        <a href="{% url 'main_app:answer_respondent_info' user.pk %}">性別と年齢を回答する</a>
    </li>
    <li>
        <a href="{% url 'main_app:eval' %}">評価実験を行う</a>
    </li>
</ul>

<form method="post" action="{% url 'main_app:logout' %}">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
{% endblock content%}